/****** PLACE YOUR CUSTOM STYLES HERE ******/
.footer-1 {
	font-size: 20px;
}

@font-face {
	font-family: GothamLight;
	src: url('../fonts/GothamLight.woff');
}

@font-face {
	font-family: DidotBold;
	src: url('../fonts/Didot\ Bold.ttf');
}

body,
ul,
ol,
a,
span,
li,
p,
div {
	font-family: GothamLight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: DidotBold;
}

p {
	font-size: 16px;
	font-style: normal;
	line-height: 26px;
	color: #2b2a2a;
}

.menu {
	font-size: 16px;
}

.menu > li ul {
	background: #fff;
}

.menu > li > ul li a {
	color: #2b2a2a;
}

#instafeed {
	max-width: 1080px;
	width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}
#instafeed a {
	display: flex;
	align-items: center;
	position: relative;
	width: 50%;
	background: white;
}
@media only screen and (min-width: 580px) {
	#instafeed a {
		width: 25%;
	}
}
#instafeed a img {
	display: block;
	width: 100%;
	height: 250px !important;
	padding: 10px !important;
}

.demo-area {
	background: $color_invert_fg;
	border-radius: 8px;
	padding: 20px;
	section {
		padding-top: 0;
	}
}

.demo-trigger {
	display: inline-block;
	width: 30%;
	float: left;
}

.detail {
	position: relative;
	width: 65%;
	margin-left: 5%;
	float: left;
	button {
		vertical-align: middle;
		opacity: .5;
		cursor: unset;
		background: $color_invert_chrome_tint;
		margin-left: 1em;
	}
}

@media (max-width: 610px) {
	.detail,
	.demo-trigger {
		float: none;
	}

	.demo-trigger {
		display: block;
		width: 50%;
		max-width: 200px;
		margin: 0 auto;
	}

	.detail {
		margin: 0;
		width: auto;
	}

	p {
		margin: 0 auto 1em;
	}

	.responsive-hint {
		display: none;
	}
	h3 {
		margin-top: 20px;
	}
}
