<footer class="footer-1 bg-secondary">
    <div class="container">
        <!--end of row-->
        <div class="row">
            <div class="col-sm-6 text-center-xs">
                <span class="sub">© Copyright <%= Date.today.year %> - HKMCOUTURE</span>
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <ul class="list-inline social-list">
                    <li>
                        <a href="http://instagram.com/<%= data.settings.main.instagram %>">
                            <i class="ti-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--end of container-->
    <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
</footer>