<div class="nav-container" style="min-height: 268px;">
            <a id="top"></a>
            <nav class="nav-centered">
                <div class="text-center">
                     <a href="/">
                        <img class="logo logo-light" alt="hkmcouture" src="../img/logo.png">
                        <img class="logo logo-dark" alt="hkmcouture" src="../img/logo.png">
                    </a>
                </div>
                <div class="nav-bar text-center">
                    <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                        <i class="ti-menu"></i>
                    </div>
                    <div class="module-group text-left">
                        <div class="module left">
                            <ul class="menu">
                                <li>
                                    <a href="/">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="/about">
                                        About
                                    </a>
                                </li>
                                <li class="has-dropdown">
                                    <a href="/collection">Collection</a>
                                    <ul>
                                        <% blog('products').articles.each do |prod| %>
                                            <li>
                                                <a href="<%= prod.url.chomp('index.html').chomp('.html').chomp('/') %>"><%= prod.title %></a>
                                            </li>
                                        <% end %>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/contact">
                                        Contact
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end of menu module-->
                    </div>
                    <!--end of module group-->
                </div>
            </nav>
        </div>