
<section class="image-slider slider-all-controls parallax controls-inside pt0 pb0">
    <ul class="slides">
        <li class="overlay image-bg pt240 pb240 pt-xs-120 pb-xs-120 flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
            <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 0px, 0px); background: url(&quot;<%= data.pages.home.banner %>&quot;); top: -268px;">
                <img alt="image" class="background-image" src="<%= data.pages.home.banner %>" draggable="false" style="display: none;">
            </div>
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h2 class="mb40 uppercase">HKM Couture</h2>
                        <a class="btn btn-lg" href="/collection">Explore Collection</a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </li>
    </ul>
<ol class="flex-control-nav flex-control-paging"></ol><ul class="flex-direction-nav"><li><a class="flex-prev flex-disabled" href="#" tabindex="-1">Previous</a></li><li><a class="flex-next flex-disabled" href="#" tabindex="-1">Next</a></li></ul></section>