

<section class="cover fullscreen parallax image-bg">
    <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 218.5px, 0px); background: url(&quot;<%= data.pages.home.banner %>&quot;);">
        <img alt="image" class="background-image" src="<%= data.pages.home.banner %>" style="display: none;">
    </div>
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="uppercase large mb8">
                    <strong><%= data.settings.main.site_name %></h1>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
    
</section>